@using System.Net.Http.Headers
@inject HttpClient httpClient
@inject ISnackbar Snackbar
@inject ISessionStorageService sessionStorage
@inject NavigationManager NavManager
@inject IStringLocalizer<Resource> Localizer

<div class="popup" style="@(Show ? "visibility:visible; opacity:1;" : "")">
    <div class="popup-inner" style="@(Show ? "bottom:0; right:0; transform:rotate(0);" : "")">
        <div class="popup__photo">
            <img src="@videojuego.Imagen" alt="">
        </div>
        <div class="popup__text">
            <h1>@videojuego.Nombre</h1>
            @if (videojuego.Descripcion == null)
            {
                <p>@Localizer["NoDescription"]</p>
            }
            else
            {
                <p>@videojuego.Descripcion</p>
            }
            <h3>@Localizer["Genres"]</h3>
            @foreach (var item in videojuego.Generos)
            {
                @if (videojuego.Generos.Count == 0)
                {
                    @Localizer["NoGenres"]
                }
                else
                {
                    <p>@item</p>
                }
            }
            <h3>@Localizer["AvailablePlatforms"]</h3>
            @foreach (var item in videojuego.Plataformas)
            {
                @if (videojuego.Plataformas.Count == 0)
                {
                    @Localizer["NoAvailablePlatforms"]
                }
                else
                {
                    <p>@item</p>
                }
            }
            <h3>@Localizer["Stores"]</h3>
            @foreach (var item in videojuego.Tiendas)
            {
                @if (videojuego.Tiendas.Count == 0)
                {
                    @Localizer["NoStores"]
                }
                else
                {
                    <p>@item</p>
                }
            }
        </div>
        <div class="popup__close" @onclick="ClosePopup">@Localizer["Close"]</div>
    </div>
</div>

@code {
    [Parameter] public bool Show { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }
    [Parameter] public VideojuegoCatalogoDetalleResponse videojuego { get; set; }

    private void ClosePopup()
    {
        OnClose.InvokeAsync();
    }
}
