@page "/foros"
@using InnoviaReach___TFI___FrontEnd.Data
@using InnoviaReach___TFI___FrontEnd.Dialogs
@using InnoviaReach___TFI___FrontEnd.Pages.Foros
@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@inject HttpClient httpClient
@inject ISessionStorageService sessionStorage
@inject IDialogService DialogService
@using System.Net.Http.Headers

<div class="foro-principal">
    <header class="foro-header" id="foro-header">
        <div class="foro-row">
            <div class="foro-container">
                <div class="foro-header-content">
                    <div class="foro-nav-search">
                        <div class="foro-form-group">
                            <input type="text" placeholder="Search Community" />
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="foro-main">
        <MudTabs Elevation="2" Rounded="false" ApplyEffectsToContainer="false" PanelClass="pa-6" Centered=true Class="foro-mudTabs" Border="false">
            <MudTabPanel Text="Foros Generales" OnClick="AbrirForosGenerales">
                @if (!foroAbierto)
                {
                    @if (!isForumsLoading)
                    {
                        <div class="foro-container" style="display: flex; overflow-y: auto; height: 100%; width: auto;">
                            <div class="foro-row">
                                <section class="foro-left">
                                    <div class="foro-inner-left">
                                        @*AGREGAR ENUM PARA LA SUSCRIPCION*@
                                        @foreach (var item in ForosGenerales)
                                        {
                                            <div class="foro-box">
                                                @*<div class="foro-img"> <img src="img/302688.jpg" alt="" /></div>*@
                                                <div class="foro-details">
                                                    <p>@item.NombreVideoJuego</p>
                                                    <h3 @onclick="@(()=> AbrirForo(item))"> @item.Titulo</h3>
                                                    <div class="foro-sub-details">
                                                        <span>@item.NombreUsuarioCreador</span>
                                                        <span>@item.FechaCreado.ToShortDateString()</span>
                                                        <div class="foro-views">
                                                            <i class="fa-regular fa-eye"></i>
                                                            <span>@item.Visitas</span>
                                                        </div>
                                                        <div class="foro-comment">
                                                            <i class="fa-solid fa-comment"></i>
                                                            <span>@item.CantidadComentarios</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="foro-favorite">
                                                    <i class="fa-regular fa-bookmark"></i>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </section>
                                <section class="foro-right">
                                    <div class="foro-box foro-first">
                                        <h3>honda shadow forums</h3>
                                        <span>since 2007</span>
                                        <p>
                                            Welcome to Honda Shadow Forum. Come in and discuss any Honda
                                            Shadow models: VT1100, VT250, VT750 and the VT500.
                                        </p>
                                        <div class="foro-stats">
                                            <div>
                                                <h4>1.6M</h4>
                                                <span>posts</span>
                                            </div>
                                            <div>
                                                <h4>79.4k</h4>
                                                <span>members</span>
                                            </div>
                                        </div>
                                        <div class="foro-buttons">
                                            <a href="#" class="foro-btn foro-btn-red"><i class="fa-solid fa-user-large"></i> join community</a>
                                            <a class="foro-btn foro-btn-white" @onclick="OpenDialogAsync"><i class="fa-solid fa-plus" @onclick="OpenDialogAsync"></i> Crear foro</a>
                                        </div>
                                    </div>
                                    <div class="foro-box foro-top-forums">
                                        <h3>our top forums</h3>
                                        <a href="#">View All <i class="fa-solid fa-arrow-right"></i></a>
                                        <div class="foro-inner-box">
                                            <h4><a href="#">general bike discussion</a></h4>
                                            <div class="foro-stats">
                                                <div class="foro-stat foro-comments">
                                                    <i class="fa-solid fa-comment"></i><span> 709.4k</span>
                                                </div>
                                                <div class="foro-stat foro-views">
                                                    <i class="fa-regular fa-eye"></i><span>104.4M</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="foro-inner-box">
                                            <h4><a href="#">technical discussion</a></h4>
                                            <div class="foro-stats">
                                                <div class="foro-stat foro-comments">
                                                    <i class="fa-solid fa-comment"></i><span> 599.1k</span>
                                                </div>
                                                <div class="foro-stat foro-views">
                                                    <i class="fa-regular fa-eye"></i><span>81.3M</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="foro-inner-box">
                                            <h4><a href="#">member introductions</a></h4>
                                            <div class="foro-stats">
                                                <div class="foro-stat foro-comments">
                                                    <i class="fa-solid fa-comment"></i><span> 189.5k</span>
                                                </div>
                                                <div class="foro-stat foro-views">
                                                    <i class="fa-regular fa-eye"></i><span>19.5M</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="foro-inner-box">
                                            <h4><a href="#">road stories</a></h4>
                                            <div class="foro-stats">
                                                <div class="foro-stat foro-comments">
                                                    <i class="fa-solid fa-comment"></i><span> 133.5k</span>
                                                </div>
                                                <div class="foro-stat foro-views">
                                                    <i class="fa-regular fa-eye"></i><span>7.7M</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="foro-inner-box">
                                            <h4><a href="#">honda shadow videos</a></h4>
                                            <div class="foro-stats">
                                                <div class="foro-stat foro-comments">
                                                    <i class="fa-solid fa-comment"></i><span> 123.1k</span>
                                                </div>
                                                <div class="foro-stat foro-views">
                                                    <i class="fa-regular fa-eye"></i><span>16.3M</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    }
                    else
                    {
                       <SpinnerLoading show=@isForumsLoading/>
                    }
                }
                else
                {
                    <div class="detalleForo-main">
                        <div class="comments-container">
                            <ul id="comments-list" class="comments-list">
                                <li>
                                    <div class="comment-main-level">
                                        <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt=""></div>
                                        <div class="comment-box">
                                            <div class="comment-head">
                                                <h6 class="comment-name by-author">@ForoSeleccionado.NombreUsuarioCreador</h6>
                                                <span>@ForoSeleccionado.FechaCreado</span>
                                                @*<i class="fa fa-reply"></i>
                                                <i class="fa fa-heart"></i>*@
                                            </div>
                                            <div class="comment-content">
                                               @ForoSeleccionado.Descripcion
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <ComponenteCargaComentario RegistrarComentarioCallBack="RegistrarComentarioCallBack" foro_Codigo="ForoSeleccionado.Codigo" />
                        <!-- Contenedor Principal -->
                        <div class="comments-container">
                            <h1>Comentarios </h1>
                            <ul id="comments-list" class="comments-list">
                                @foreach (var comentario in ComentariosRaiz)
                                {
                                    <li>
                                        <div class="comment-main-level">
                                            <!-- Avatar -->
                                            <div class="comment-avatar">
                                                <img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt="">
                                                <MudRating SelectedValue="1" ReadOnly="true" MaxValue="1" />
                                                <div class="comment-punctuation">
                                                    @comentario.PromedioPuntaje (@comentario.CantidadVotos)
                                                </div>
                                            </div>
                                            <!-- Contenedor del Comentario -->
                                            <div class="comment-box">
                                                <div class="comment-head">
                                                    @if (comentario.Creador==ForoSeleccionado.NombreUsuarioCreador)
                                                    {
                                                        <h6 class="comment-name by-author">@comentario.Creador</h6>
                                                    }
                                                    else
                                                    {
                                                        <h6 class="comment-name">@comentario.Creador</h6>
                                                    }
                                                    <span>@comentario.FechaCreacion</span>
                                                    <i class="fa fa-reply" @onclick="@(()=> ToggleRespuesta(comentario.Codigo))"></i>
                                                    @if (comentario.Creador != user?.UserName)
                                                    {
                                                        <i class="fa fa-heart" @onclick="@(()=> Abrir(comentario.Codigo,comentario.Creador))"></i>
                                                    }
                                                </div>
                                                <div class="comment-content">
                                                    @(new MarkupString (@comentario.Contenido))
                                                </div>
                                                @if (ComentarioAbierto == comentario.Codigo)
                                                {
                                                    <ComponenteCargaRespuesta comentarioPadre_Codigo="comentario.Codigo" foro_Codigo="ForoSeleccionado.Codigo" comentarioPadre_Creador="@comentario.Creador" RegistrarComentarioCallBack="RegistrarComentarioCallBack" />
                                                }
                                            </div>
                                        </div>
                                    </li>
                                    @if (comentario.Respuestas.Any())
                                    {
                                        @* Llamada recursiva para mostrar respuestas *@
                                        <ComponenteComentarios Comentarios="@comentario.Respuestas" ForoSeleccionado="ForoSeleccionado" ComentarioAbierto="ComentarioAbierto" OnToggleRespuesta="@ToggleRespuesta" RegistrarComentarioCallBack="RegistrarComentarioCallBack" />

                                    }
                                }
                            </ul>
                        </div>
                    </div>
                }
            </MudTabPanel>
            <MudTabPanel Text="Foros Recomendados">
                <h2>JAJAJAJAJ</h2>
            </MudTabPanel>
            <MudTabPanel Text="Foros Favoritos">
                <h2>HOLA</h2>
            </MudTabPanel>
            <MudTabPanel Text="Usuarios">
                <main class="userlist-table" id="customers_table">
                    <section class="userlist-table__header">
                        <h1 class="userlist-title">Usuarios de la plataforma</h1>
                        <div class="userlist-input-group">
                            <input class="userlist-input" type="search" placeholder="Buscar usuario..." @oninput="OnSearchInput">
                            <img src="images/search.png" alt="">
                        </div>
                    </section>
                    <section class="userlist-table__body">
                        <table class="userlist-table">
                            <thead>
                                <tr>
                                    <th class="userlist-th"> Usuario <span class="userlist-icon-arrow">&UpArrow;</span></th>
                                    <th class="userlist-th"> Email <span class="userlist-icon-arrow">&UpArrow;</span></th>
                                    <th class="userlist-th"> Estilo preferido <span class="userlist-icon-arrow">&UpArrow;</span></th>
                                    <th class="userlist-th"> Genero preferido <span class="userlist-icon-arrow">&UpArrow;</span></th>
                                    <th class="userlist-th"> Status <span class="userlist-icon-arrow">&UpArrow;</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in filteredUsuarios)
                                {
                                    <tr>
                                        <td class="userlist-td">
                                            <img src="images/Zinzu Chan Lee.jpg" alt=""> @item.UserName
                                        </td>
                                        <td class="userlist-td">@item.Email</td>
                                        <td class="userlist-td">@item.Estilo_preferido</td>
                                        <td class="userlist-td">@item.Genero_preferido</td>
                                        <td class="userlist-td">
                                            <p class="userlist-status @(item.Active ? "delivered" : "cancelled")">@item.Active</p>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </section>
                </main>
            </MudTabPanel>
        </MudTabs>
    </main>
</div>

@code {
    private string searchString1 = "";
    private bool isForumsLoading;
    private int? ComentarioAbierto;
    private bool _visible;
    private int _rating;
    private readonly DialogOptions _dialogOptions = new() { FullWidth = true };

    private List<UserResponse> filteredUsuarios => usuarios
        .Where(u => string.IsNullOrWhiteSpace(searchString1) ||
                    u.UserName.Contains(searchString1, StringComparison.OrdinalIgnoreCase) ||
                    u.Email.Contains(searchString1, StringComparison.OrdinalIgnoreCase))
        .ToList();

    // Método para manejar la entrada en tiempo real
    private void OnSearchInput(ChangeEventArgs e)
    {
        searchString1 = e.Value.ToString();
    }

    protected async Task Abrir(int codigo, string usuario)
    {
        var parameters = new DialogParameters { { "CodigoComentario", codigo }, { "Usuario", usuario } };
        var dialog = DialogService.Show<ForumRatingDialog>("Agregar DSA", parameters);
        var result = await dialog.Result;
    }

    protected void ToggleRespuesta(int codigoComentario)
    {
        // Si ya está abierto, lo cierra; de lo contrario, lo abre.
        // Alterna entre abrir o cerrar la respuesta
        ComentarioAbierto = ComentarioAbierto == codigoComentario ? null : codigoComentario;
    }


    public List<ForoResponse> ForosGenerales = new();

    [Parameter]
    public ForoResponse ForoSeleccionado { get; set; }

    public ICollection<UserResponse> usuarios = new HashSet<UserResponse>();
    public ICollection<ComentarioResponse> Comentarios = new HashSet<ComentarioResponse>();
    public ICollection<ComentarioResponse> ComentariosRaiz = new HashSet<ComentarioResponse>();
    public IEnumerable<VideojuegoForoReponse> videojuegosForo = new List<VideojuegoForoReponse>();
    public LoginTokenResponse user;
    public bool foroAbierto;
    public string? foroSeleccionado;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            foroAbierto = false;
            ComentarioAbierto = null;
            isForumsLoading = true;
            foroSeleccionado = "";
            StateHasChanged();
        }
        catch (Exception)
        {

            throw;
        }

    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            if (firstRender)
            {
                try
                {
                    user = await sessionStorage.GetItemAsync<LoginTokenResponse>("user");
                    ForosGenerales = await httpClient.GetFromJsonAsync<List<ForoResponse>>("Foro/ObtenerForosGenerales");
                    usuarios = await httpClient.GetFromJsonAsync<List<UserResponse>>("Users/ObtenerUsuarios");
                    videojuegosForo = await httpClient.GetFromJsonAsync<List<VideojuegoForoReponse>>("Videojuego/ObtenerVideojuegosForo");
                }
                catch (Exception) 
                { 

                }

                // Esperar un breve momento para asegurarse de que el componente se haya renderizado completamente
                await Task.Delay(3000);
            }
        }
        catch (Exception)
        {

        }
        finally
        {
            isForumsLoading = false;
            StateHasChanged();
        }

    }

    protected async Task AbrirForo(ForoResponse Foro)
    {
        try
        {
            //EN ESTA PARTE VAMOS A TENER QUE HACER UN LLAMADO A LA API PARA OBTENER EL FORO QUE SE DESEA ABRIR
            Comentarios = await httpClient.GetFromJsonAsync<List<ComentarioResponse>>($"Foro/ObtenerComentariosPorForo?ForoId={Foro.Codigo}");
            ComentariosRaiz = ConstruirJerarquiaDeComentarios(Comentarios);
            ForoSeleccionado = Foro;
            foroAbierto = true;
        }
        catch (Exception)
        {
            foroAbierto = false;
            //<<<IMPORTANTE>>>
            //SI YO PONGO THROW EN UN CATCH EN ESTA INSTANCIA YO MANDO LA EXCEPCION AL FRONT Y VA A ROMPER LA WEB ABRUPTAMENTE
            //LO IDEAL ACA ES MOSTRAR UN MENSAJE AL USUARIO QUE OCURRIO UN ERROR AL ABRIR EL FORO
        }
        finally
        {
            StateHasChanged();
        }
    }
    protected ICollection<ComentarioResponse> ConstruirJerarquiaDeComentarios(ICollection<ComentarioResponse> todosLosComentarios)
    {
        // Crear un diccionario para buscar comentarios por su código
        var comentarioDict = todosLosComentarios.ToDictionary(c => c.Codigo);

        // Crear una lista para los comentarios raíz
        var comentariosRaiz = new HashSet<ComentarioResponse>();

        foreach (var comentario in todosLosComentarios)
        {
            if (comentario.ComentarioPadre_Codigo.HasValue)
            {
                // Si tiene un comentario padre, agregarlo a las respuestas de su padre
                if (comentarioDict.TryGetValue(comentario.ComentarioPadre_Codigo.Value, out var padre))
                {
                    padre.Respuestas.Add(comentario);
                }
            }
            else
            {
                // Si no tiene un comentario padre, es un comentario raíz
                comentariosRaiz.Add(comentario);
            }
        }

        return comentariosRaiz;
    }


    protected async Task AbrirForosGenerales()
    {
        foroAbierto = false;
        StateHasChanged();
    }

    private Task OpenDialogAsync()
    {
        var options = new DialogOptions 
        { 
            CloseOnEscapeKey = true ,
            MaxWidth = MaxWidth.ExtraLarge, // Establece el tamaño máximo
            FullWidth = true // Habilita el ancho completo
        };

        var parameters = new DialogParameters();
        parameters.Add("Videojuegos", videojuegosForo);

        return DialogService.ShowAsync<CreateForumDialog>("Crear foro", parameters, options);
    }

    private async Task RegistrarComentarioCallBack()
    {
        try
        {
            ToggleRespuesta(ComentarioAbierto.Value);
            await AbrirForo(ForoSeleccionado);

        }
        catch (Exception)
        {

        }
        finally
        {
            StateHasChanged();
        }
    }
}
