@page "/foros"
@using InnoviaReach___TFI___FrontEnd.Data
@using InnoviaReach___TFI___FrontEnd.Dialogs
@using InnoviaReach___TFI___FrontEnd.Pages.Foros
@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@inject HttpClient httpClient
@inject ISessionStorageService sessionStorage
@inject IDialogService DialogService
@using System.Net.Http.Headers
@inject NavigationManager Navigation
@inject ISnackbar Snackbar
@inject IStringLocalizer<Resource> Localizer

<div class="foro-principal">
    @*<header class="foro-header" id="foro-header">
        <div class="foro-row">
            <div class="foro-container">
                <div class="foro-header-content">
                    <div class="foro-nav-search">
                        <div class="foro-form-group">
                            <input type="text" placeholder="Search Community" />
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>*@
    <main class="foro-main">
        <MudTabs Elevation="2" Rounded="false" ApplyEffectsToContainer="false" PanelClass="pa-6" Centered=true Class="foro-mudTabs" Border="false">
            <MudTabPanel Text="@Localizer["GeneralForums"]" OnClick="AbrirForosGenerales">
                @if (!foroAbierto)
                {
                    @if (!isForumsLoading)
                    {
                        <div class="foro-container" style="display: flex; overflow-y: auto; height: 100%; width: auto;">
                            <div class="foro-row">
                                <section class="foro-left">
                                    <div class="foro-inner-left">
                                        @if (ForosGenerales != null && ForosGenerales.Any())
                                        {
                                            @foreach (var item in ForosGenerales)
                                            {
                                                if (ForosGenerales.Count==0)
                                                {
                                                    <h1>No se encontraron foros</h1>
                                                }
                                                else
                                                {
                                                    <div class="foro-box">
                                                        <div class="foro-details">
                                                            <p>@item.NombreVideoJuego</p>
                                                            <h3 @onclick="@(() => AbrirForo(item))">@item.Titulo</h3>
                                                            <div class="foro-sub-details">
                                                                <span>@item.NombreUsuarioCreador</span>
                                                                <span>@item.FechaCreado.ToShortDateString()</span>
                                                                <div class="foro-views">
                                                                    <i class="fa-regular fa-eye"></i>
                                                                    <span>@item.Visitas</span>
                                                                </div>
                                                                <div class="foro-comment">
                                                                    <i class="fa-solid fa-comment"></i>
                                                                    <span>@item.CantidadComentarios</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="foro-menu-container">
                                                            <div class="foro-favorite" @onclick="@(() => GuardarForoFav(item))" role="button">
                                                            @if (item.NombreUsuarioCreador != user?.UserName)
                                                            {
                                                                @if (item.favorito == true)
                                                                {
                                                                    <i class="fa-solid fa-bookmark"></i>
                                                                }
                                                                else
                                                                {
                                                                    <i class="fa-regular fa-bookmark"></i>
                                                                }
                                                            }
                                                            </div>
                                                            @if (user.RoleName == "Admin")
                                                            {
                                                                <MudMenu Icon="@Icons.Material.Filled.MoreVert" AriaLabel="@Localizer["OpenMenu"]">
                                                                    <MudMenuItem @onclick="@(() => EliminarForo(item.Codigo))">@Localizer["Delete"]</MudMenuItem>
                                                                </MudMenu>
                                                            }
                                                        </div>
                                                    </div>
                                                }

                                               
                                            }
                                        }
                                        else
                                        {
                                            <div class="foro-box foro-first">
                                                <h3>@Localizer["NoForumsAvailable"]</h3>
                                            </div>
                                        }
                                    </div>
                                </section>
                                <section class="foro-right">
                                    <div class="foro-box foro-first">
                                        <h3>@Localizer["InnoviaForums"]</h3>
                                        <span>@DateTime.Today.Year.ToString()</span>
                                        <p>@Localizer["WelcomeMessage"]</p>
                                        <div class="foro-stats">
                                            <div>
                                                <h4>@ForosGenerales.Count</h4>
                                                <span>@Localizer["Posts"]</span>
                                            </div>
                                            <div>
                                                <h4>@usuarios.Count</h4>
                                                <span>@Localizer["Members"]</span>
                                            </div>
                                        </div>
                                        <div class="foro-buttons">
                                            @if (user.Suscripcion != "Basico")
                                            {
                                                <a class="foro-btn foro-btn-white" @onclick="OpenDialogAsync">
                                                    <i class="fa-solid fa-plus"></i> @Localizer["CreateForum"]
                                                </a>
                                            }
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    }
                    else
                    {
                        <SpinnerLoading show="@isForumsLoading" />
                    }
                }
                else
                {
                    <div class="detalleForo-main">
                        <div class="foro-row">
                            <div class="foro-inner-left">
                                <div class="comments-container">
                                    <ul id="comments-list" class="comments-list">
                                        <li>
                                            <div class="comment-main-level">
                                                <div class="comment-avatar">
                                                    <img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt="" />
                                                </div>
                                                <div class="comment-box">
                                                    <div class="comment-head">
                                                        <h6 class="comment-name by-author">@ForoSeleccionado.NombreUsuarioCreador</h6>
                                                        <span>@ForoSeleccionado.FechaCreado</span>
                                                    </div>
                                                    <div class="comment-content">
                                                        @ForoSeleccionado.Descripcion
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                @if (user.Suscripcion != "Basico")
                                {
                                    <ComponenteCargaComentario CargaComentarioInicialCallBack="CargaComentarioInicialCallBack" foro_Codigo="ForoSeleccionado.Codigo" />
                                }
                                <div class="comments-container">
                                    @if (ComentariosRaiz.Count < 1)
                                    {
                                        <h1>@Localizer["NoCommentsRegistered"]</h1>
                                    }
                                    else
                                    {
                                        <h1>@Localizer["Comments"]</h1>
                                        <ul id="comments-list" class="comments-list">
                                            @foreach (var comentario in ComentariosRaiz)
                                            {
                                                <li>
                                                    <div class="comment-main-level">
                                                        <div class="comment-avatar">
                                                            <img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt="">
                                                            <MudRating SelectedValue="1" ReadOnly="true" MaxValue="1" />
                                                            <div class="comment-punctuation">
                                                                @comentario.PromedioPuntaje (@comentario.CantidadVotos)
                                                            </div>
                                                        </div>
                                                        <div class="comment-box">
                                                            <div class="comment-head">
                                                                @if (comentario.Creador==ForoSeleccionado.NombreUsuarioCreador)
                                                                {
                                                                    <h6 class="comment-name by-author">@comentario.Creador</h6>
                                                                }
                                                                else
                                                                {
                                                                    <h6 class="comment-name">@comentario.Creador</h6>
                                                                }
                                                                <span>@comentario.FechaCreacion</span>
                                                                @if (user.Suscripcion != "Basico")
                                                                {
                                                                    <i class="fa fa-reply" @onclick="@(() => ToggleRespuesta(comentario.Codigo))"></i>
                                                                }
                                                                @if (user.RoleName == "Admin")
                                                                {
                                                                    <i class="fa fa-ban" @onclick="@(()=> EliminarComentario(comentario.Codigo))"></i>
                                                                }
                                                                @if (comentario.Creador != user?.UserName)
                                                                {
                                                                    <i class="fa fa-heart" @onclick="@(()=> Abrir(comentario.Codigo,comentario.Creador))"></i>
                                                                }
                                                            </div>
                                                            <div class="comment-content">
                                                                @(new MarkupString(@comentario.Contenido))
                                                            </div>
                                                            @if (ComentarioAbierto == comentario.Codigo)
                                                            {
                                                                @if (user.Suscripcion!="Basico")
                                                                {
                                                                    <ComponenteCargaRespuesta comentarioPadre_Codigo="comentario.Codigo" foro_Codigo="ForoSeleccionado.Codigo" comentarioPadre_Creador="@comentario.Creador" RegistrarComentarioCallBack="RegistrarComentarioCallBack" />
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </li>
                                                @if (comentario.Respuestas.Any())
                                                {
                                                    @* Llamada recursiva para mostrar respuestas *@
                                                    <ComponenteComentarios Comentarios="@comentario.Respuestas" ForoSeleccionado="ForoSeleccionado" ComentarioAbierto="ComentarioAbierto" OnToggleRespuesta="@ToggleRespuesta" RegistrarComentarioCallBack="RegistrarComentarioCallBack" />

                                                }
                                            }
                                        </ul>
                                    }
                                </div>
                            </div>
                            <section class="foro-photo-right">
                                <div class="forum__photo">
                                    <img src="/assets/Recomendaciones/images/join_image.png" alt="">
                                </div>
                            </section>
                        </div>
                    </div>
                }
            </MudTabPanel>
            <MudTabPanel Text="@Localizer["RecommendedForums"]" OnClick="AbrirForosGenerales">
                @if (!foroAbierto)
                {
                    @if (!isForumsLoading)
                    {
                        <div class="foro-container" style="overflow-x: scroll; overflow-y: auto; height: 100%; width: auto;">
                            <!-- Foros recomendados por visitas -->
                            <h2 class="foro-row-recommended-title">@Localizer["ForumsByVisits"]</h2>
                            <div class="foro-row-recommended">
                                @if (ForosRecPorVisita != null && ForosRecPorVisita.Any())
                                {
                                    @foreach (var item in ForosRecPorVisita)
                                    {
                                        if (ForosRecPorVisita.Count==0)
                                        {
                                            <h1>No se registraron visitas en foros</h1>
                                        }
                                        else
                                        {
                                            <div class="foro-box">
                                                <div class="foro-details">
                                                    <p>@item.NombreVideoJuego</p>
                                                    <div class="foroRecommended-title">
                                                        <h3 title="@item.Titulo" @onclick="@(() => AbrirForo(item))">@item.Titulo</h3>
                                                    </div>
                                                    <div class="foro-sub-details" style="flex-direction: column; width:100%; align-items: unset;">
                                                        <div class="informacionusr">
                                                            <span>@item.NombreUsuarioCreador</span>
                                                            <span>@item.FechaCreado.ToShortDateString()</span>
                                                        </div>
                                                        <div class="metricas">
                                                            <div class="foro-views">
                                                                <i class="fa-regular fa-eye"></i>
                                                                <span>@item.Visitas</span>
                                                            </div>
                                                            <div class="foro-comment">
                                                                <i class="fa-solid fa-comment"></i>
                                                                <span>@item.CantidadComentarios</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="foro-menu-container">
                                                    <div class="foro-favorite" @onclick="(() => GuardarForoFav(item))" role="button">
                                                        @if (item.NombreUsuarioCreador != user?.UserName)
                                                        {
                                                            @if (item.favorito == true)
                                                            {
                                                                <i class="fa-solid fa-bookmark"></i>
                                                            }
                                                            else
                                                            {
                                                                <i class="fa-regular fa-bookmark"></i>
                                                            }
                                                        }
                                                    </div>
                                                    @if (user.RoleName == "Admin")
                                                    {
                                                        <MudMenu Icon="@Icons.Material.Filled.MoreVert" AriaLabel="@Localizer["OpenMenu"]">
                                                            <MudMenuItem @onclick="@(() => EliminarForo(item.Codigo))">@Localizer["Delete"]</MudMenuItem>
                                                        </MudMenu>
                                                    }
                                                </div>
                                            </div>
                                        }

                                        
                                    }
                                }
                                else
                                {
                                    <div class="foro-box foro-first">
                                        <h3>@Localizer["NoForumsAvailable"]</h3>
                                    </div>
                                }
                            </div>
                            <!-- Recomendados por favoritos -->
                            <h2 class="foro-row-recommended-title">@Localizer["ForumsByFavorites"]</h2>
                            <div class="foro-row-recommended">
                                @if (ForosRecPorForosFav != null && ForosRecPorForosFav.Any())
                                {
                                    @foreach (var item in ForosRecPorForosFav)
                                    {
                                        if (ForosRecPorForosFav.Count==0)
                                        {
                                            <h1>No se encontraron foros</h1>
                                        }
                                        else
                                        {
                                             <div class="foro-box">
                                                <div class="foro-details">
                                                    <p>@item.NombreVideoJuego</p>
                                                    <h3 title="@item.Titulo" @onclick="@(() => AbrirForo(item))">@item.Titulo</h3>
                                                    <div class="foro-sub-details" style="flex-direction: column; width:100%; align-items: unset;">
                                                        <div class="informacionusr">
                                                            <span>@item.NombreUsuarioCreador</span>
                                                            <span>@item.FechaCreado.ToShortDateString()</span>
                                                        </div>
                                                        <div class="metricas">
                                                            <div class="foro-views">
                                                                <i class="fa-regular fa-eye"></i>
                                                                <span>@item.Visitas</span>
                                                            </div>
                                                            <div class="foro-comment">
                                                                <i class="fa-solid fa-comment"></i>
                                                                <span>@item.CantidadComentarios</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="foro-menu-container">
                                                    <div class="foro-favorite" @onclick="(() => GuardarForoFav(item))" role="button">
                                                        @if (item.NombreUsuarioCreador != user?.UserName)
                                                        {
                                                            @if (item.favorito == true)
                                                            {
                                                                <i class="fa-solid fa-bookmark"></i>
                                                            }
                                                            else
                                                            {
                                                                <i class="fa-regular fa-bookmark"></i>
                                                            }
                                                        }
                                                    </div>
                                                
                                                    @if (user.RoleName == "Admin")
                                                    {
                                                        <MudMenu Icon="@Icons.Material.Filled.MoreVert" AriaLabel="@Localizer["OpenMenu"]">
                                                            <MudMenuItem @onclick="@(() => EliminarForo(item.Codigo))">@Localizer["Delete"]</MudMenuItem>
                                                        </MudMenu>
                                                    }
                                                </div>
                                            </div>
                                        }
                                       
                                    }
                                }
                                else
                                {
                                    <div class="foro-box foro-first">
                                        <h3>@Localizer["NoForumsAvailable"]</h3>
                                    </div>
                                }
                            </div>
                            <!-- Recomendados por usuarios similares -->
                            @if (user.Suscripcion!="Basico")
                            {
                                <h2 class="foro-row-recommended-title">@Localizer["ForumsBySimilarUsers"]</h2>
                                <div class="foro-row-recommended">
                                    @if (ForosRecColab != null && ForosRecColab.Any())
                                    {
                                        @foreach (var item in ForosRecColab)
                                        {
                                            if (ForosRecColab.Count==0)
                                            {
                                                <h1>No se encontraron foros</h1>
                                            }
                                            else
                                            {
                                                <div class="foro-box">
                                                    <div class="foro-details">
                                                        <p>@item.NombreVideoJuego</p>
                                                        <h3 title="@item.Titulo" @onclick="@(() => AbrirForo(item))">@item.Titulo</h3>
                                                        <div class="foro-sub-details" style="flex-direction: column; width:100%; align-items: unset;">
                                                            <div class="informacionusr">
                                                                <span>@item.NombreUsuarioCreador</span>
                                                                <span>@item.FechaCreado.ToShortDateString()</span>
                                                            </div>
                                                            <div class="metricas">
                                                                <div class="foro-views">
                                                                    <i class="fa-regular fa-eye"></i>
                                                                    <span>@item.Visitas</span>
                                                                </div>
                                                                <div class="foro-comment">
                                                                    <i class="fa-solid fa-comment"></i>
                                                                    <span>@item.CantidadComentarios</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="foro-menu-container">
                                                        <div class="foro-favorite" @onclick="(() => GuardarForoFav(item))" role="button">
                                                            @if (item.NombreUsuarioCreador != user?.UserName)
                                                            {
                                                                @if (item.favorito == true)
                                                                {
                                                                    <i class="fa-solid fa-bookmark"></i>
                                                                }
                                                                else
                                                                {
                                                                    <i class="fa-regular fa-bookmark"></i>
                                                                }
                                                            }
                                                        </div>
                                                        @if (user.RoleName == "Admin")
                                                        {
                                                            <MudMenu Icon="@Icons.Material.Filled.MoreVert" AriaLabel="@Localizer["OpenMenu"]">
                                                                <MudMenuItem @onclick="@(() => EliminarForo(item.Codigo))">@Localizer["Delete"]</MudMenuItem>
                                                            </MudMenu>
                                                        }
                                                     </div>
                                                </div>
                                            }
                                        
                                        }
                                    }
                                    else
                                    {
                                        <div class="foro-box foro-first">
                                            <h3>@Localizer["NoForumsAvailable"]</h3>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <SpinnerLoading show="@isForumsLoading" />
                    }
                }
                else
                {
                    <div class="detalleForo-main">
                        <div class="comments-container">
                            <ul id="comments-list" class="comments-list">
                                <li>
                                    <div class="comment-main-level">
                                        <div class="comment-avatar">
                                            <img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt="">
                                        </div>
                                        <div class="comment-box">
                                            <div class="comment-head">
                                                <h6 class="comment-name by-author">@ForoSeleccionado.NombreUsuarioCreador</h6>
                                                <span>@ForoSeleccionado.FechaCreado</span>
                                            </div>
                                            <div class="comment-content">
                                                @ForoSeleccionado.Descripcion
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        @if (user.Suscripcion != "Basico")
                        {
                            <ComponenteCargaComentario 
                                CargaComentarioInicialCallBack="CargaComentarioInicialCallBack" 
                                foro_Codigo="ForoSeleccionado.Codigo" />
                        }
                        <!-- Contenedor Principal -->
                        <div class="comments-container">
                            @if (ComentariosRaiz.Count < 1)
                            {
                                <h1>@Localizer["NoCommentsRegistered"]</h1>
                            }
                            else
                            {
                                <h1>@Localizer["Comments"]</h1>
                                <ul id="comments-list" class="comments-list">
                                    @foreach (var comentario in ComentariosRaiz)
                                    {
                                        <li>
                                            <div class="comment-main-level">
                                                <!-- Avatar -->
                                                <div class="comment-avatar">
                                                    <img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt="">
                                                    <MudRating SelectedValue="1" ReadOnly="true" MaxValue="1" />
                                                    <div class="comment-punctuation">
                                                        @comentario.PromedioPuntaje (@comentario.CantidadVotos)
                                                    </div>
                                                </div>
                                                <!-- Contenedor del Comentario -->
                                                <div class="comment-box">
                                                    <div class="comment-head">
                                                        @if (comentario.Creador == ForoSeleccionado.NombreUsuarioCreador)
                                                        {
                                                            <h6 class="comment-name by-author">@comentario.Creador</h6>
                                                        }
                                                        else
                                                        {
                                                            <h6 class="comment-name">@comentario.Creador</h6>
                                                        }
                                                        <span>@comentario.FechaCreacion</span>
                                                        @if (user.Suscripcion != "Basico")
                                                        {
                                                            <i class="fa fa-reply" @onclick="@(() => ToggleRespuesta(comentario.Codigo))"></i>
                                                        }
                                                        @if (user.RoleName == "Admin")
                                                        {
                                                            <i class="fa fa-ban" @onclick="@(() => EliminarComentario(comentario.Codigo))"></i>
                                                        }
                                                        @if (comentario.Creador != user?.UserName)
                                                        {
                                                            <i class="fa fa-heart" @onclick="@(() => Abrir(comentario.Codigo, comentario.Creador))"></i>
                                                        }
                                                    </div>
                                                    <div class="comment-content">
                                                        @(new MarkupString(@comentario.Contenido))
                                                    </div>
                                                    @if (ComentarioAbierto == comentario.Codigo)
                                                    {
                                                        @if (user.Suscripcion != "Basico")
                                                        {
                                                            <ComponenteCargaRespuesta 
                                                                comentarioPadre_Codigo="comentario.Codigo" 
                                                                foro_Codigo="ForoSeleccionado.Codigo" 
                                                                comentarioPadre_Creador="@comentario.Creador" 
                                                                RegistrarComentarioCallBack="RegistrarComentarioCallBack" />
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </li>
                                        @if (comentario.Respuestas.Any())
                                        {
                                            <ComponenteComentarios 
                                                Comentarios="@comentario.Respuestas" 
                                                ForoSeleccionado="ForoSeleccionado" 
                                                ComentarioAbierto="ComentarioAbierto" 
                                                OnToggleRespuesta="@ToggleRespuesta" 
                                                RegistrarComentarioCallBack="RegistrarComentarioCallBack" />
                                        }
                                    }
                                </ul>
                            }
                        </div>
                    </div>
                }
            </MudTabPanel>
            <MudTabPanel Text="@Localizer["FavoriteForums"]" OnClick="AbrirForosGenerales">
                @if (!foroAbierto)
                {
                    @if (!isForumsLoading)
                    {
                        <div class="foro-container" style="display: flex; overflow-y: auto; height: 100%; width: auto;">
                            <div class="foro-row">
                                <section class="foro-left">
                                    <div class="foro-inner-left">
                                        @if (ForosGenerales != null && ForosGenerales.Any())
                                        {
                                            bool tieneForosFavoritos = false;

                                            @foreach (var item in ForosGenerales)
                                            {
                                                if (item.favorito == true)
                                                {
                                                    tieneForosFavoritos = true; @* Se encontró al menos un favorito *@
                                                    <div class="foro-box">
                                                        <div class="foro-details">
                                                            <p>@item.NombreVideoJuego</p>
                                                            <h3 @onclick="@(() => AbrirForo(item))">@item.Titulo</h3>
                                                            <div class="foro-sub-details">
                                                                <span>@item.NombreUsuarioCreador</span>
                                                                <span>@item.FechaCreado.ToShortDateString()</span>
                                                                <div class="foro-views">
                                                                    <i class="fa-regular fa-eye"></i>
                                                                    <span>@item.Visitas</span>
                                                                </div>
                                                                <div class="foro-comment">
                                                                    <i class="fa-solid fa-comment"></i>
                                                                    <span>@item.CantidadComentarios</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="foro-menu-container">
                                                            <div class="foro-favorite" @onclick="(() => GuardarForoFav(item))" role="button">
                                                                <i class="fa-solid fa-bookmark"></i>
                                                            </div>
                                                            @if (user.RoleName == "Admin")
                                                            {
                                                                <MudMenu Icon="@Icons.Material.Filled.MoreVert" AriaLabel="@Localizer["OpenMenu"]">
                                                                    <MudMenuItem @onclick="@(() => EliminarForo(item.Codigo))">@Localizer["Delete"]</MudMenuItem>
                                                                </MudMenu>
                                                            }
                                                        </div>
                                                    </div>
                                                }
                                            }

                                            @* Mostrar mensaje si no hay foros marcados como favoritos *@
                                            @if (!tieneForosFavoritos)
                                            {
                                                <div class="foro-box foro-first">
                                                    <h3>@Localizer["NoFavoriteForums"]</h3>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="foro-box foro-first">
                                                <h3>@Localizer["NoForumsAvailable"]</h3>
                                            </div>
                                        }
                                    </div>
                                </section>
                                <section class="foro-right">
                                    <div class="foro-box foro-first">
                                        <h3>@Localizer["InnoviaForums"]</h3>
                                        <span>@DateTime.Today.Year.ToString()</span>
                                        <p>
                                            @Localizer["WelcomeForumMessage"]
                                        </p>
                                        <div class="foro-stats">
                                            <div>
                                                <h4>@ForosGenerales.Count</h4>
                                                <span>@Localizer["Posts"]</span>
                                            </div>
                                            <div>
                                                <h4>@usuarios.Count</h4>
                                                <span>@Localizer["Members"]</span>
                                            </div>
                                        </div>
                                        <div class="foro-buttons">
                                            @if (user.Suscripcion != "Basico")
                                            {
                                                <a class="foro-btn foro-btn-white" @onclick="OpenDialogAsync"><i class="fa-solid fa-plus"></i> @Localizer["CreateForum"]</a>
                                            }
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    }
                    else
                    {
                        <SpinnerLoading show="@isForumsLoading" />
                    }
                }
                else
                {
                    <div class="detalleForo-main">
                        <div class="foro-row">
                            <div class="foro-inner-left">
                                <div class="comments-container">
                                    <ul id="comments-list" class="comments-list">
                                        <li>
                                            <div class="comment-main-level">
                                                <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt=""></div>
                                                <div class="comment-box">
                                                    <div class="comment-head">
                                                        <h6 class="comment-name by-author">@ForoSeleccionado.NombreUsuarioCreador</h6>
                                                        <span>@ForoSeleccionado.FechaCreado</span>
                                                    </div>
                                                    <div class="comment-content">
                                                        @ForoSeleccionado.Descripcion
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                @if (user.Suscripcion != "Basico")
                                {
                                    <ComponenteCargaComentario CargaComentarioInicialCallBack="CargaComentarioInicialCallBack" foro_Codigo="ForoSeleccionado.Codigo" />
                                }
                                <div class="comments-container">
                                    @if (ComentariosRaiz.Count < 1)
                                    {
                                        <h1>@Localizer["NoCommentsRegistered"]</h1>
                                    }
                                    else
                                    {
                                        <h1>@Localizer["Comments"]</h1>
                                        <ul id="comments-list" class="comments-list">
                                            @foreach (var comentario in ComentariosRaiz)
                                            {
                                                <li>
                                                    <div class="comment-main-level">
                                                        <div class="comment-avatar">
                                                            <img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt="">
                                                            <MudRating SelectedValue="1" ReadOnly="true" MaxValue="1" />
                                                            <div class="comment-punctuation">
                                                                @comentario.PromedioPuntaje (@comentario.CantidadVotos)
                                                            </div>
                                                        </div>
                                                        <div class="comment-box">
                                                            <div class="comment-head">
                                                                @if (comentario.Creador == ForoSeleccionado.NombreUsuarioCreador)
                                                                {
                                                                    <h6 class="comment-name by-author">@comentario.Creador</h6>
                                                                }
                                                                else
                                                                {
                                                                    <h6 class="comment-name">@comentario.Creador</h6>
                                                                }
                                                                <span>@comentario.FechaCreacion</span>
                                                                @if (user.Suscripcion != "Basico")
                                                                {
                                                                    <i class="fa fa-reply" @onclick="@(() => ToggleRespuesta(comentario.Codigo))"></i>
                                                                }
                                                                @if (user.RoleName == "Admin")
                                                                {
                                                                    <i class="fa fa-ban" @onclick="@(() => EliminarComentario(comentario.Codigo))"></i>
                                                                }
                                                                @if (comentario.Creador != user?.UserName)
                                                                {
                                                                    <i class="fa fa-heart" @onclick="@(() => Abrir(comentario.Codigo, comentario.Creador))"></i>
                                                                }
                                                            </div>
                                                            <div class="comment-content">
                                                                @(new MarkupString(@comentario.Contenido))
                                                            </div>
                                                            @if (ComentarioAbierto == comentario.Codigo)
                                                            {
                                                                @if (user.Suscripcion != "Basico")
                                                                {
                                                                    <ComponenteCargaRespuesta comentarioPadre_Codigo="comentario.Codigo" foro_Codigo="ForoSeleccionado.Codigo" comentarioPadre_Creador="@comentario.Creador" RegistrarComentarioCallBack="RegistrarComentarioCallBack" />
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </li>
                                                @if (comentario.Respuestas.Any())
                                                {
                                                    <ComponenteComentarios Comentarios="@comentario.Respuestas" ForoSeleccionado="ForoSeleccionado" ComentarioAbierto="ComentarioAbierto" OnToggleRespuesta="@ToggleRespuesta" RegistrarComentarioCallBack="RegistrarComentarioCallBack" />
                                                }
                                            }
                                        </ul>
                                    }
                                </div>
                            </div>
                            <section class="foro-photo-right">
                                <div class="forum__photo">
                                    <img src="/assets/Recomendaciones/images/join_image.png" alt="">
                                </div>
                            </section>
                        </div>
                    </div>
                }
            </MudTabPanel>
            <MudTabPanel Text="@Localizer["YourForums"]" OnClick="AbrirForosGenerales">
                @if (!foroAbierto)
                {
                    @if (!isForumsLoading)
                    {
                        <div class="foro-container" style="display: flex; overflow-y: auto; height: 100%; width: auto;">
                            <div class="foro-row">
                                <section class="foro-left">
                                    <div class="foro-inner-left">
                                        @if (ForosGenerales.Any(item => item.NombreUsuarioCreador == user?.UserName))
                                        {
                                            @foreach (var item in ForosGenerales)
                                            {
                                                if (item.NombreUsuarioCreador == user?.UserName)
                                                {
                                                    <div class="foro-box">
                                                        <div class="foro-details">
                                                            <p>@item.NombreVideoJuego</p>
                                                            <h3 @onclick="@(() => AbrirForo(item))">@item.Titulo</h3>
                                                            <div class="foro-sub-details">
                                                                <span>@item.NombreUsuarioCreador</span>
                                                                <span>@item.FechaCreado.ToShortDateString()</span>
                                                                <div class="foro-views">
                                                                    <i class="fa-regular fa-eye"></i>
                                                                    <span>@item.Visitas</span>
                                                                </div>
                                                                <div class="foro-comment">
                                                                    <i class="fa-solid fa-comment"></i>
                                                                    <span>@item.CantidadComentarios</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="foro-menu-container">
                                                            <div class="foro-favorite" @onclick="(() => GuardarForoFav(item))" role="button"></div>
                                                            @if (user.RoleName == "Admin")
                                                            {
                                                                <MudMenu Icon="@Icons.Material.Filled.MoreVert" AriaLabel="@Localizer["OpenMenu"]">
                                                                    <MudMenuItem @onclick="@(() => EliminarForo(item.Codigo))">@Localizer["Delete"]</MudMenuItem>
                                                                </MudMenu>
                                                            }
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            <div class="foro-box foro-first">
                                                <h3>@Localizer["NoForumsCreated"]</h3>
                                            </div>
                                        }
                                    </div>
                                </section>
                                <section class="foro-right">
                                    <div class="foro-box foro-first">
                                        <h3>@Localizer["InnoviaForums"]</h3>
                                        <span>@DateTime.Today.Year.ToString()</span>
                                        <p>@Localizer["WelcomeForumMessage"]</p>
                                        <div class="foro-stats">
                                            <div>
                                                <h4>@ForosGenerales.Count</h4>
                                                <span>@Localizer["Posts"]</span>
                                            </div>
                                            <div>
                                                <h4>@usuarios.Count</h4>
                                                <span>@Localizer["Members"]</span>
                                            </div>
                                        </div>
                                        <div class="foro-buttons">
                                            @if (user.Suscripcion != "Basico")
                                            {
                                                <a class="foro-btn foro-btn-white" @onclick="OpenDialogAsync"><i class="fa-solid fa-plus"></i> @Localizer["CreateForum"]</a>
                                            }
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    }
                    else
                    {
                        <SpinnerLoading show="@isForumsLoading" />
                    }
                }
                else
                {
                    <div class="detalleForo-main">
                        <div class="foro-row">
                            <div class="foro-inner-left">
                                <div class="comments-container">
                                    <ul id="comments-list" class="comments-list">
                                        <li>
                                            <div class="comment-main-level">
                                                <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt=""></div>
                                                <div class="comment-box">
                                                    <div class="comment-head">
                                                        <h6 class="comment-name by-author">@ForoSeleccionado.NombreUsuarioCreador</h6>
                                                        <span>@ForoSeleccionado.FechaCreado</span>
                                                    </div>
                                                    <div class="comment-content">
                                                       @ForoSeleccionado.Descripcion
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                @if (user.Suscripcion != "Basico")
                                {
                                    <ComponenteCargaComentario CargaComentarioInicialCallBack="CargaComentarioInicialCallBack" foro_Codigo="ForoSeleccionado.Codigo" />
                                }
                                <div class="comments-container">
                                    @if (ComentariosRaiz.Count < 1)
                                    {
                                        <h1>@Localizer["NoCommentsRegistered"]</h1>
                                    }
                                    else
                                    {
                                        <h1>@Localizer["Comments"]</h1>
                                        <ul id="comments-list" class="comments-list">
                                            @foreach (var comentario in ComentariosRaiz)
                                            {
                                                <li>
                                                    <div class="comment-main-level">
                                                        <div class="comment-avatar">
                                                            <img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt="">
                                                            <MudRating SelectedValue="1" ReadOnly="true" MaxValue="1" />
                                                            <div class="comment-punctuation">
                                                                @comentario.PromedioPuntaje (@comentario.CantidadVotos)
                                                            </div>
                                                        </div>
                                                        <div class="comment-box">
                                                            <div class="comment-head">
                                                                @if (comentario.Creador == ForoSeleccionado.NombreUsuarioCreador)
                                                                {
                                                                    <h6 class="comment-name by-author">@comentario.Creador</h6>
                                                                }
                                                                else
                                                                {
                                                                    <h6 class="comment-name">@comentario.Creador</h6>
                                                                }
                                                                <span>@comentario.FechaCreacion</span>
                                                                @if (user.Suscripcion != "Basico")
                                                                {
                                                                    <i class="fa fa-reply" @onclick="@(() => ToggleRespuesta(comentario.Codigo))"></i>
                                                                }
                                                                @if (user.RoleName == "Admin")
                                                                {
                                                                    <i class="fa fa-ban" @onclick="@(() => EliminarComentario(comentario.Codigo))"></i>
                                                                }
                                                                @if (comentario.Creador != user?.UserName)
                                                                {
                                                                    <i class="fa fa-heart" @onclick="@(() => Abrir(comentario.Codigo, comentario.Creador))"></i>
                                                                }
                                                            </div>
                                                            <div class="comment-content">
                                                                @(new MarkupString(@comentario.Contenido))
                                                            </div>
                                                            @if (ComentarioAbierto == comentario.Codigo)
                                                            {
                                                                @if (user.Suscripcion != "Basico")
                                                                {
                                                                    <ComponenteCargaRespuesta comentarioPadre_Codigo="comentario.Codigo" foro_Codigo="ForoSeleccionado.Codigo" comentarioPadre_Creador="@comentario.Creador" RegistrarComentarioCallBack="RegistrarComentarioCallBack" />
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </li>
                                                @if (comentario.Respuestas.Any())
                                                {
                                                    <ComponenteComentarios Comentarios="@comentario.Respuestas" ForoSeleccionado="ForoSeleccionado" ComentarioAbierto="ComentarioAbierto" OnToggleRespuesta="@ToggleRespuesta" RegistrarComentarioCallBack="RegistrarComentarioCallBack" />
                                                }
                                            }
                                        </ul>
                                    }
                                </div>
                            </div>
                            <section class="foro-photo-right">
                                <div class="forum__photo">
                                    <img src="/assets/Recomendaciones/images/join_image.png" alt="">
                                </div>
                            </section>
                        </div>
                    </div>
                }
            </MudTabPanel>
            @if (esAdmin is true)
            {
                <MudTabPanel Text="@Localizer["Users"]" OnClick="AbrirUsuarios">
                    @if (!UsuarioDetalle)
                    {
                        <div class="userlist-container">
                            <div class="userlist-row">
                                <div class="userlist-search">
                                    <label>@Localizer["SearchUser"]</label>
                                    <input type="search" @oninput="FilterUsers" placeholder="@Localizer["SearchUserPlaceholder"]" class="form-control">
                                </div>
                                <div id="userlist-list" class="userlist-list">
                                    @if (usuarios != null)
                                    {
                                        @foreach (var item in FilteredUsers)
                                        {
                                            <div class="userlist-list-item" @onclick="() => AbrirDetalleUsuario(item.UserName)">
                                                <div class="userlist-list-item__avatar">
                                                    <img src="/assets/Usuario Menu/user.png" alt="@Localizer["UserAvatarAlt"]">
                                                </div>
                                                <div class="userlist-list-item__content">
                                                    <strong class="userlist-list-item__name">
                                                        @item.UserName
                                                    </strong>
                                                    <span class="userlist-list-item__info">
                                                        @item.Email <br>
                                                        @Localizer["Status"]: @(item.Active ? Localizer["Active"] : Localizer["Inactive"])
                                                    </span>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <ComponenteDetalleUsuario UserName="@usuarioSeleccionado" />
                    }
                </MudTabPanel>
            }
        </MudTabs>
    </main>
</div>
<CreateForumDialog ShowPopup="@showLoginPopup" OnClose="CloseForumDialogAsync"/>

@code {
    private ICollection<UserResponse> FilteredUsers = new HashSet<UserResponse>();
    private List<string> RecentSearches = new();
    private string SearchTerm { get; set; }
    private string searchString1 = "";
    private bool isForumsLoading;
    private int? ComentarioAbierto;
    private bool _visible;
    private bool forosfav;
    private bool forosprop;
    private bool forosrec;
    private bool esAdmin = false;
    private string usuarioSeleccionado = "";
    private int _rating;
    private readonly DialogOptions _dialogOptions = new() { FullWidth = true };
    public List<ForoResponse> ForosGenerales = new();
    public List<ForoResponse> ForosRecPorVisita = new();
    public List<ForoResponse> ForosRecPorForosFav = new();
    public List<ForoResponse> ForosRecColab = new();
    [Parameter]
    public ForoResponse ForoSeleccionado { get; set; }
    public ICollection<UserResponse> usuarios = new HashSet<UserResponse>();
    public ICollection<ComentarioResponse> Comentarios = new HashSet<ComentarioResponse>();
    public ICollection<ComentarioResponse> ComentariosRaiz = new HashSet<ComentarioResponse>();
    public LoginTokenResponse user;
    public bool foroAbierto;
    public bool CreacionForo;
    public bool UsuarioDetalle;
    public string? foroSeleccionado;

    private void FilterUsers(ChangeEventArgs e)
    {
        try
        {
            SearchTerm = e.Value?.ToString();

            if (string.IsNullOrWhiteSpace(SearchTerm))
            {
                FilteredUsers = usuarios;
            }
            else
            {
                var term = SearchTerm.ToLower();
                FilteredUsers = usuarios.Where(u =>
                    u.UserName.ToLower().Contains(term)
                ).ToList();
            }
        }
        catch (Exception)
        {
            Snackbar.Add("Error al filtrar los usuarios", Severity.Error, options =>
            {
                options.VisibleStateDuration = 1000;
            });
        }
        
    }
    
    private List<UserResponse> filteredUsuarios => usuarios
        .Where(u => string.IsNullOrWhiteSpace(searchString1) ||
                    u.UserName.Contains(searchString1, StringComparison.OrdinalIgnoreCase) ||
                    u.Email.Contains(searchString1, StringComparison.OrdinalIgnoreCase))
        .ToList();

    private void OnSearchInput(ChangeEventArgs e)
    {
        searchString1 = e.Value.ToString();
    }

    protected async Task Abrir(int codigo, string usuario)
    {
        try
        {
            var parameters = new DialogParameters { { "CodigoComentario", codigo }, { "Usuario", usuario } };
            var dialog = DialogService.Show<ForumRatingDialog>("Agregar DSA", parameters);
            var result = await dialog.Result;
        }
        catch (Exception)
        {
            
        }
    }

    protected void ToggleRespuesta(int codigoComentario)
    {
        ComentarioAbierto = ComentarioAbierto == codigoComentario ? null : codigoComentario;
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            foroAbierto = false;
            CreacionForo = false;
            UsuarioDetalle = false;
            ComentarioAbierto = null;
            isForumsLoading = true;
            forosfav = false;
            forosprop = false;
            forosrec = false;
            foroSeleccionado = "";
            StateHasChanged();
        }
        catch (Exception)
        {

        }

    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            if (firstRender)
            {
                try
                {
                    user = await sessionStorage.GetItemAsync<LoginTokenResponse>("user");
                    if (user != null)
                    {
                        esAdmin = user.RoleName == "Admin";
                    }
                    httpClient.DefaultRequestHeaders.Clear();
                    httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", user.Token);
                    ForosGenerales = await httpClient.GetFromJsonAsync<List<ForoResponse>>("Foro/ObtenerForosGenerales");
                    ForosRecPorVisita = await httpClient.GetFromJsonAsync<List<ForoResponse>>("Recomendaciones/ObtenerForosRecomendadosVisita");
                    ForosRecPorForosFav = await httpClient.GetFromJsonAsync<List<ForoResponse>>("Recomendaciones/ObtenerForosRecomendadosForosFav");
                    ForosRecColab = await httpClient.GetFromJsonAsync<List<ForoResponse>>("Recomendaciones/ObtenerForosRecomendadosColab");
                    usuarios = await httpClient.GetFromJsonAsync<List<UserResponse>>("Users/ObtenerUsuarios");
                    FilteredUsers = usuarios;
                }
                catch (Exception) 
                { 

                }
            }
        }
        catch (Exception)
        {

        }
        finally
        {
            isForumsLoading = false;
            StateHasChanged();
        }

    }

    protected async Task AbrirForo(ForoResponse Foro)
    {
        try
        {
            ForoUsuarioVisitaRequest foroUsuarioVisitaRequest = new ForoUsuarioVisitaRequest();

            foroUsuarioVisitaRequest.Foro_ID = Foro.Codigo;

            user = await sessionStorage.GetItemAsync<LoginTokenResponse>("user");
            httpClient.DefaultRequestHeaders.Clear();
            httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", user.Token);

            var result = await httpClient.PostAsJsonAsync<ForoUsuarioVisitaRequest>($"Foro/RegistrarVisita", foroUsuarioVisitaRequest);

            var test = await result.Content.ReadAsStringAsync();

            Comentarios = await httpClient.GetFromJsonAsync<List<ComentarioResponse>>($"Foro/ObtenerComentariosPorForo?ForoId={Foro.Codigo}");
            ComentariosRaiz = ConstruirJerarquiaDeComentarios(Comentarios);
            ForoSeleccionado = Foro;
            foroAbierto = true;
        }
        catch (Exception)
        {
            foroAbierto = false;
        }
        finally
        {
            StateHasChanged();
        }
    }
    protected async Task AbrirDetalleUsuario(string UserName)
    {
        try
        {
            UsuarioDetalle = true;
            usuarioSeleccionado = UserName;
        }
        catch (Exception)
        {
            UsuarioDetalle = false;
        }
        finally
        {
            StateHasChanged();
        }
    }
    protected ICollection<ComentarioResponse> ConstruirJerarquiaDeComentarios(ICollection<ComentarioResponse> todosLosComentarios)
    {
        var comentarioDict = todosLosComentarios.ToDictionary(c => c.Codigo);

        var comentariosRaiz = new HashSet<ComentarioResponse>();

        foreach (var comentario in todosLosComentarios)
        {
            if (comentario.ComentarioPadre_Codigo.HasValue)
            {
                if (comentarioDict.TryGetValue(comentario.ComentarioPadre_Codigo.Value, out var padre))
                {
                    padre.Respuestas.Add(comentario);
                }
            }
            else
            {
                comentariosRaiz.Add(comentario);
            }
        }

        return comentariosRaiz;
    }


    protected async Task AbrirForosGenerales()
    {
        CreacionForo = false;
        foroAbierto = false;
        StateHasChanged();
    }

    protected async Task AbrirUsuarios()
    {
        UsuarioDetalle = false;
        StateHasChanged();
    }

    private bool showLoginPopup = false;

    protected async Task OpenDialogAsync()
    {
        showLoginPopup = true;
    }

    protected async Task CloseForumDialogAsync()
    {
        try
        {
            ForosGenerales = await httpClient.GetFromJsonAsync<List<ForoResponse>>("Foro/ObtenerForosGenerales");
            showLoginPopup = false;
        }
        catch (Exception)
        {
            Snackbar.Add("Error al obtener listado de foros", Severity.Error, options =>
            {
                options.VisibleStateDuration = 1000;
            });
        }
        finally
        {
            StateHasChanged();
        }


    }

    private async Task RegistrarComentarioCallBack()
    {
        try
        {
            ToggleRespuesta(ComentarioAbierto.Value);
            await AbrirForo(ForoSeleccionado);

        }
        catch (Exception)
        {

        }
        finally
        {
            StateHasChanged();
        }
    }
    private async Task CargaComentarioInicialCallBack()
    {
        try
        {
            await AbrirForo(ForoSeleccionado);

        }
        catch (Exception)
        {

        }
        finally
        {
            StateHasChanged();
        }
    }

    private async Task GuardarForoFav(ForoResponse foro)
    {
        try
        {
            var user = await sessionStorage.GetItemAsync<LoginTokenResponse>("user");
            httpClient.DefaultRequestHeaders.Clear();
            httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", user.Token);

            var result = await httpClient.PutAsJsonAsync<ForoResponse>($"Foro/GestionarForoFavorito?CodForo={foro.Codigo}", null);

            foreach (var item in ForosRecPorVisita)
            {
                if (item.Codigo==foro.Codigo)
                {
                    if (item.favorito == true)
                    {
                        item.favorito = false;
                    }
                    else
                    {
                        item.favorito = true;
                    }
                }
            }

            foreach (var item in ForosGenerales)
            {
                if (item.Codigo==foro.Codigo)
                {
                    if (item.favorito == true)
                    {
                        item.favorito = false;
                    }
                    else
                    {
                        item.favorito = true;
                    }
                }
            }
        }
        catch (Exception)
        {
            Snackbar.Add("Error al guardar foro favorito", Severity.Error, options =>
            {
                options.VisibleStateDuration = 1000;
            });
        }
        finally
        {
            StateHasChanged();
        }
    }
    private async Task EliminarForo(int CodForo)
    {
        try
        {
            var user = await sessionStorage.GetItemAsync<LoginTokenResponse>("user");
            httpClient.DefaultRequestHeaders.Clear();
            httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", user.Token);

            var result = await httpClient.DeleteAsync($"Foro/EliminarForo?ForoId={CodForo}");

            ForosGenerales = await httpClient.GetFromJsonAsync<List<ForoResponse>>("Foro/ObtenerForosGenerales");

            if (result.IsSuccessStatusCode)
            {
                Snackbar.Add("Foro eliminado", Severity.Success, options =>
                {
                    options.VisibleStateDuration = 1000;
                });
            }

            StateHasChanged();

        }
        catch (Exception)
        {
            Snackbar.Add("Error al eliminar foro", Severity.Error, options =>
            {
                options.VisibleStateDuration = 1000;
            });
        }
    }
    private async Task EliminarComentario(int CodComentario)
    {
        try
        {
            var user = await sessionStorage.GetItemAsync<LoginTokenResponse>("user");
            httpClient.DefaultRequestHeaders.Clear();
            httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", user.Token);

            var result = await httpClient.DeleteAsync($"Foro/EliminarComentario?ComentarioId={CodComentario}");

            if (result.IsSuccessStatusCode)
            {
                Snackbar.Add("Comentario eliminado", Severity.Success, options =>
                {
                    options.VisibleStateDuration = 1000;
                });
            }

            await AbrirForo(ForoSeleccionado);

        }
        catch (Exception)
        {
            Snackbar.Add("Error eliminar comentario", Severity.Error, options =>
            {
                options.VisibleStateDuration = 1000;
            });
        }
    }
}
